<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <title>DPS Welcome</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">HMPPS Services</h1>

    <div class="govuk-grid-row" th:each="row: ${#numbers.sequence(0, services.size(), 2)}">
        <div th:each="i: ${#numbers.sequence(row, row + 1)}" th:if="${i &lt; services.size()}"
             th:with="service=${services.get(i)}" class="govuk-grid-column-one-half">
            <div class="govuk-card">
                <div class="govuk-card__content">
                    <h3 class="govuk-heading-m">
                        <span th:text="${service.description}">A Service</span>
                    </h3>
                    <p class="govuk-body" th:if="${service.healthOk}">Service Running</p>
                    <p class="govuk-error-message" th:if="${!service.healthOk}">Service is Down</p>
                    <div class="govuk-form-group" th:if="${service.healthOk}">
                        <a class="govuk-button"  th:id="${service.name}" th:href="${service.url}" th:text="Start">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
