<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <title>DPS Welcome</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">P-NOMIS Service</h1>
    <p class="govuk-body">
        All Services are Running Fine.
    </p>
    <a class="govuk-button" href="https://c.nomis.az.justice.gov.uk/forms/frmservlet?config=tag" id="p-nomis-launch">Launch P-NOMIS</a>
</div>
</body>
</html>
