<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <title>DPS Welcome</title>
</head>
<body>
<div layout:fragment="content" class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">HMPPS Services</h1>
    <p class="govuk-body">
        NOMIS System is Running.
    </p>
    <a class="govuk-button" href="https://c.nomis.az.justice.gov.uk/forms/frmservlet?config=tag" id="p-nomis-launch">Launch P-NOMIS</a>

    <p class="govuk-body">
        DPS System is Running.
    </p>
    <a class="govuk-button" href="file:///C:/Program%20Files%20(x86)/Mozilla Firefox/firefox.exe” –P “HMPS” https://gateway.prod.nomis-api.service.hmpps.dsd.io/auth/" id="dps-launch">Launch DPS</a>
</div>
</body>
</html>
